body {
  color: seashell;
  background-color: black;
  margin: 0;
  font-size: 22px;
  opacity: 0.9;
  }

header{
  display: flex;
    height: 69px;
    align-items: center;
    position: fixed;
    border-bottom: 1px solid seashell;
  justify-content: space-between;
    width: 100%;
    font-family: "Helvetica", sans-serif;
    z-index: 1;
    background-color: black;
  }

.logo{
  display: flex;
  height: 50px;
  margin-left: 10px;
  padding-top: 10px;
  align-items: center;

}
.logo img{
  height: 50px;
  margin-right: 20px;
}

a{
  color: seashell;
}
nav span{
 display: inline-block;
  padding-right: 40px;
  margin-right: 10px;


}
header nav{
  padding-right: 30px;
}


.content{
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin:0 auto;
  padding-top: 69px;
  justify-content: center;
  color: seashell;


}

.banner{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
  padding: 20px 0px;
}

.mission{
  display: flex;
  flex-direction: column;

  justify-content: center;
margin: 0;
height: 100px;
width: 1200px;
background-color: black;


;
}
.mission h2{
  display: flex;
  justify-content: center;
  padding: 0;
}
.mission h4 {
  display: flex;
  justify-content: center;
  padding: 0;
  padding-bottom: 15px;
}

.Teamonth{
display: flex;
flex-direction: column;
align-items: center;
max-width: 1200px;
}
.teas{
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
 justify-content: center;
}
.image-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.image-content img{

  height: 200px;
  width: 300px;
}

.location{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg");
  height: 600px;
  width: 1200px;
}

.location h2{
  text-align: center;
  padding-top: 100px;
}

.addresses{
  display: flex;
}

.address-box{
  width: 300px;
  height: 300px;
  background-color: black;
  margin: 15px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
